/* ================================= */
/*   DEVELOPMENT NOTE                */
/* ================================= */
div.devNote {
	position:absolute;
	z-index:10000;
	display:none;

	width:100%;
	height:100%;

	background-color:rgba(30,30,30,0.95);

	color:white;
	padding:40px;
}

div.devMessage {
	position:absolute;
	left:0px; right:0px;
	top:0px; bottom:0px;

	margin:auto;

	min-width:300px;
	
	width:50%;
	height:75%;

	padding:10px;

	border:10px solid;
	border-image:var(--gold-border-image) 6 round;

	overflow:scroll;
	overflow-x: hidden;
}


div.closeDevNote {
	width:40px;
	line-height:30px;
	font-size:9pt;

	position:absolute;
	right:30px;

	border-radius: 25px;

	text-align:center;

	background-color:rgba(20,20,20,0.8);
	border:5px outset gold;
}

div.closeDevNote:hover, li#devNoteToggle:hover {
	cursor:pointer;
}

div.devNote h1 {
	border-bottom:2px solid white;

	width:100%;

	padding:5px 10px;

	letter-spacing:2px;
	text-align: center;
}

div.devNote dl.note { padding:10px 10px; margin-bottom:15px; }
div.devNote dt.date, dd.definition {
	font-size:9pt;
	margin-bottom:5px;
	letter-spacing:1px;
}

dd.definition { padding-left:40px; }