body{
	margin-top:25px;
	font-family:'Cinzel Decorative';
	font-size:2.5em;
	font-weight:bolder;
	color:black;
	
}

.navFont {
	font-size:15pt;
	font-weight:bolder;
	color:black;
}

.cols-xs-6 {
	margin-left:25px;
	margin-right:25px;
}

.row {
	margin-top:30px;
}

blockquote {
	margin-left:20px;
	width:70%;
	background-color:rgba(0, 0, 0, 0.2);
}

h2 {
	font-weight:900;
	color:#00002D;
}

.ul-content {
	margin-left:-20px;
	color:#DDDDDD;
}

.li-content {
	margin-bottom:20px;
	margin-top:20px;
}

.highlight {
	color:#f0d04c;
}

a {
	color:#f0d04c;
}

a:hover {
	color:#00002D;
}