
/* 
==============================================
 NOTES
==============================================
	HI I AM COWWY, ARE YOU LOOKING FOR ME? :3
 	
	I DIDN'T WRITE A WHOLE LOT OF CSS IN HERE.
	I AM SURE IN A FEW YEARS THERE WILL BE A LOT
	MORE. BECAUSE I INTEND TO BUILD A WHOLE 
	LIBRARY OF COOL STUFF IN HERE.


















































*/





/* =============================================
	GLOBAL RESET
============================================== */
:root {
		/* COLOR PALLET */
		--black     : rgba(0,     0,   0, 1.0);
		--white     : rgba(255, 255, 255, 1.0); /* #FFFFFF */
		--smoke     : rgba(204, 204, 204, 1.0); /* #CCCCCC */
		--LightRose : rgba(255, 204, 204, 1.0); /* #FFCCCC */
		--mintGreen : rgba(204, 255, 204, 1.0); /* #CCFFCC */
		--lavender  : rgba(204, 204, 255, 1.0); /* #CCCCFF */
		--banana    : rgba(255, 255, 204, 1.0); /* #FFFFCC */
		--pink      : rgba(255, 204, 255, 1.0); /* #FFCCFF */
		--cyan      : rgba(204, 255, 255, 1.0); /* #CCFFFF */
		--menthol   : rgba(0,   216, 135, 1.0);
		--yellow    : rgba(255, 255,   0, 1.0);


		--animation-slowGlow-white        : rgba(255, 255, 255, 1.0);
		--animation-slowGlow-yellow       : rgba(255, 255, 0, 1.0);
		--animation-slowGlow-goldenYellow : rgba(255, 223, 0, 1.0);


		/* ADJUSTMENT VARIABLE */
		--animation-slowGlow-color : var(--animation-slowGlow-yellow);
		--transition-glow-color    : var(--animation-slowGlow-yellow);
}


* {
	margin:0px;
	padding:0px;
	border:0px;
	box-sizing: border-box;		/* BORDER & PADDING IS INCLUDED IN THE CALCULATION OF WIDTH AND HEIGHT*/

	-webkit-user-select: none; 	/* Safari */        
	-moz-user-select: none; 	/* Firefox */
	-ms-user-select: none; 		/* IE10+/Edge */
	user-select: none; 			/* Standard */
}

body, html {
	width:100%;
	height:100%;

	scroll-behavior: smooth;
}



/* =============================================
	DEBUG CLASSES - LIBRARY
============================================== */
.debug1 { border:2px dotted rgba(55, 55, 55, 0.8); }
.debug2 { border:2px dotted #FFCCCC; background-color:#FFCCCC; }
.debug3 { border:2px dotted #CCFFCC; background-color:#CCFFCC; }
.debug4 { border:2px dotted #CCCCFF; background-color:#CCCCFF; }
.debug5 { border:2px dotted #FFFFCC; background-color:#FFFFCC; }
.debug6 { border:2px dotted #FFCCFF; background-color:#FFCCFF; }
.debug7 { border:2px dotted #CCFFFF; background-color:#CCFFFF; }



/*\ 
|*| =============================================
|*|  COWWY.GITHUB.IO - TABLE OF CONTENT
|*|  Stuff written below is what I use in this
|*|  site.  Alright don't laugh at me when I write
|*|  this stuff down.  Is hard to remember things.
|*| ============================================== 
|*|		CSS ANIMATION - LIBRARY
|*|		CSS GENERICS && ADDONS
|*|		RESPONSIVE CSS MEDIA QUERY
|*|		THEME
|*|		ABOUT ME Page1 formatting
|*|		PROJECT Page2 formatting
|*|  	Content z-index
|*|  	Navigation - CSS
\*/



/*\ 
|*| =============================================
|*|  CSS ANIMATION - LIBRARY
|*| ============================================== 
\*/
	.blink {
		animation-name:blinking;
		animation-duration:1.5s;
		animation-iteration-count: infinite;
	}

	@keyframes blinking {
		0%   { opacity: 1.0; }
		50%  { opacity: 1.0; }
		51%  { opacity: 0.0; }
		100% { opacity: 0.0; }
	}


	.glow { transition:text-shadow 0.5s ease; }

	.glow:hover {
		text-shadow: 0px 0px 50px yellow,
		             0px 0px 50px yellow, 
		             0px 0px 30px yellow, 
		             0px 0px 20px yellow, 
		             0px 0px 10px yellow, 
		             0px 0px 5px  yellow;
	}


	.glowing {
		animation-name:slowGlow;
		animation-duration:7.0s;
		animation-iteration-count: infinite;
	}

	@keyframes slowGlow {
		0% { 
			text-shadow: 0px 0px 0px var(--animation-slowGlow-color),
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color);
		 }

		 50% { 
			text-shadow: 0px 0px 30px var(--animation-slowGlow-color),
		             	 0px 0px 30px var(--animation-slowGlow-color), 
		             	 0px 0px 20px var(--animation-slowGlow-color), 
		             	 0px 0px 10px var(--animation-slowGlow-color), 
		             	 0px 0px 5px  var(--animation-slowGlow-color), 
		             	 0px 0px 5px  var(--animation-slowGlow-color);
		 }

		 100% { 
			text-shadow: 0px 0px 0px var(--animation-slowGlow-color),
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color), 
		             	 0px 0px 0px var(--animation-slowGlow-color);
		 }
	}
/*\
\*/



/*\ 
|*| =============================================
|*|  CSS GENERICS && ADDONS
|*| ============================================== 
\*/
	.absCenter {
		position:absolute;

		top:0px; bottom:0px; left:0px; right:0px;
		margin:auto;
	}

	.container  { width:100%;   }

	.fullPage {
		position:relative;
		width:100%; height:100%;
	}
/*\
\*/



/*\ 
|*| =============================================
|*|  RESPONSIVE CSS MEDIA QUERY
|*| ============================================== 
\*/
	/* MOBILE */
	@media screen and (min-width:320px) and (max-width:719px) {
		nav#mobile { display:block; }

		nav#desktop { top:-200px; }
		nav#desktop > div {
			width:200px;
			font-size:1.5em;
		}		

		div.contentBlock {
			min-width:400px;
			max-width:100%;
			height:100%;

			padding:100px 20px 20px 20px;
		}

		h3 { font-size:1.6em; }

		p {
			font-size:1.3em;
			line-height:1.5em;
		}

		div.projectListing > div {
			width:100%;
			padding:20px 0px;
		}

		div.projectListing > div > a.link {
			font-size:1.8em;
		}
	}


	/* TABLET */
	@media screen and (min-width:720px) and (max-width:1023px) {
		nav#mobile { display:block; }

		nav#desktop { top:-200px; }
		nav#desktop > div {
			width:200px;
			font-size:1.5em;
		}

		div.contentBlock {
			min-width:400px;
			max-width:75%;
			height:750px;

			padding-top:60px;
		}

		h3 { font-size:1.4em; }

		p {
			font-size:1.3em;
			line-height:1.5em;
		}

		div.projectListing > div {
			width:100%;
			padding:20px 0px;
		}

		div.projectListing > div > a.link {
			font-size:1.8em;
		}
	}


	/* DESKTOP */
	@media screen and (min-width:1024px) {
		nav#mobile { display:none; }


		nav#desktop > div {
			width:200px;
			font-size:1.5em;
		}

		div.contentBlock {
			min-width:400px;
			max-width:515px;
			height:600px;
		}

		h3 { font-size:1.4em; }

		p {
			font-size:1.0em;
			line-height:1.5em;
		}

		div.projectListing > div {
			width:100%;
			padding:12px 0px;
		}
	}
/*\
\*/


	
/*\
|*| ====================================
|*|  THEME
|*|		Link Formatting
|*|		faded Title
|*| ====================================
\*/
	:root {
		--portfolioBkg    : rgba(72, 77, 71, 1.0 );
		--theme-limeGreen : #B7DC8D;
		--font-mintGreen  : rgba( 170, 255, 198, 1.0 );

		--h2-bkgColor     : rgba(   0,   0,   0, 0.05);
		--a-link-hover    : rgba( 170, 255, 198, 0.2 );
		--borderYellow    : rgba( 255, 255,   0, 0.2 );
	}

	@font-face {
		font-family:'custom';
		src:url(fonts/Roboto/Roboto-Light.ttf);
	}

	body {
		font-family:'Montserrat', 'custom', 'Arial';
		background-color:var(--portfolioBkg);
	}

	h2 {
		position:absolute;
		bottom:0px; 

		width:100%;
		height:15vw;

		font-size:12.0vw;
		text-align:center;

		color:var(--h2-bkgColor);
	}

	h3 {
		font-weight:bolder;

		color:var(--font-mintGreen);
		margin-bottom:20px;
	}

	a.link {
		color:white;
		text-decoration: none;
		transition: border-bottom 0.1s ease;
	}

	a.link:hover {
		border-bottom:3px solid var(--a-link-hover);
	}
/*\
\*/



/*\
|*| ====================================
|*|  ABOUT ME Page1 formatting
|*| ====================================
\*/
	div.contentBlock div#me {
		font-weight:bolder;

		color:var(--font-mintGreen);
		margin-bottom:20px;
	}

	div.contentBlock div#aboutMe {
		color:white;
		font-size:1.1em;
		line-height:25px;
		letter-spacing:1px;
	}	

	div#aboutMe p {
		margin-bottom:20px;
	}

	div#social {
		text-align:center;
		padding:15px 0px;

		border-top:3px double var(--a-link-hover);
		border-bottom:3px double var(--a-link-hover);
	}

	div#social > a {
		color:white;
		text-decoration: none;

		text-shadow: 0px 0px 40px var(--animation-slowGlow-color),
             	 	 0px 0px 30px var(--animation-slowGlow-color), 
             	 	 0px 0px 20px var(--animation-slowGlow-color), 
             	 	 0px 0px 0px var(--animation-slowGlow-color), 
             	 	 0px 0px 0px  var(--animation-slowGlow-color), 
             	 	 0px 0px 0px  var(--animation-slowGlow-color);
	}

	div.sincere {
		width:100%;
		text-align: center;
	}

	a.contact {
		color:var(--font-mintGreen);
		font-size:2.0em;
		transition: text-shadow 0.5s ease;
	}

	a.contact:hover { 
		text-shadow: 0px 0px 50px yellow, 0px 0px 30px yellow, 0px 0px 10px yellow;
	}
/*\
\*/



/*\
|*| ====================================
|*|  PROJECT Page2 formatting
|*| ====================================
\*/
	div#aboutProject > h3 {
		width:100%;
		text-align:center;
	}

	div.contentBlock div#aboutProject {
		color:white;
		line-height:25px;
		letter-spacing:1px;
	}

	div.projectListing > div {
		margin-bottom:20px;

		text-align:center;
		border-radius:5px;

		background-color:rgba(50, 50, 50, 0.3);
		/*outline:2px dotted red;*/
	}
/*\
\*/



/*\
|*| ====================================
|*|  Content z-index
|*| ====================================
\*/
	nav 	  { z-index:1000; }
	.burger   { z-index:1000; }
	.fullPage {	z-index:0; }
/*\
\*/



/*\
|*| ====================================
|*|  Navigation - CSS
|*|  <nav>
|*|		<div><a>
|*|		<div><a>
|*| ====================================
\*/
	nav > div.burger {
		position:absolute;
		right:30px;

		line-height:80px;
		font-size:1.8em;

		color:white;
	}

	nav > div.burger:hover {
		cursor: pointer;
	}


	nav#desktop {
		position:fixed;

		width:100%;
		height:80px;
		line-height:80px;

		display:flex;
		flex-direction:row;
		justify-content: space-around;

		background-color:var(--portfolioBkg);
	}

	nav#desktop > div {
		text-align: center;

		font-weight:bold;
		text-shadow: 0px 0px 30px var(--animation-slowGlow-color),
             	 0px 0px 30px var(--animation-slowGlow-color), 
             	 0px 0px 20px var(--animation-slowGlow-color), 
             	 0px 0px 10px var(--animation-slowGlow-color), 
             	 0px 0px 5px  var(--animation-slowGlow-color), 
             	 0px 0px 5px  var(--animation-slowGlow-color);
	}

	nav#desktop > div > a {
		color:white;
		text-decoration: none;
		transition:letter-spacing 0.6s ease;
	}

	nav#desktop > div > a:hover {
		letter-spacing:7px;
	}




	nav#mobile {
		position:fixed;
		top:0px;

		width:100%;
		height:100%;
	}

	
	nav#mobile > div.burger, nav#mobile > div.burger-menu {
		text-shadow: 0px 0px 30px var(--animation-slowGlow-color),
             	 0px 0px 30px var(--animation-slowGlow-color), 
             	 0px 0px 20px var(--animation-slowGlow-color), 
             	 0px 0px 10px var(--animation-slowGlow-color), 
             	 0px 0px 5px  var(--animation-slowGlow-color), 
             	 0px 0px 5px  var(--animation-slowGlow-color);
	}

	nav#mobile > div.burger-menu {
		display:none;

		width:100%;
		height:100%;

		color:white;

		padding-top:100px;

		font-weight:bold;
		font-size:1.5em;

		text-align:center;

		background-color:rgba(45, 45, 45, 1);
	}

	div.burger-menu-container {
		height:200px;
	}

	div.burger-menu div.menu-item {
		height:80px;
		line-height:80px;
	}

	nav#mobile > div.burger-menu > div {
		padding:20px;
	}

	nav#mobile > div.burger-menu a {
		color:white;
		text-decoration: none;
		transition:letter-spacing 0.6s ease;
	}

	nav#mobile > div.burger-menu a:hover {
		letter-spacing:7px;
	}
/*\
\*/




