/* ============================================= */
/*  CSS RESPONSIVE QUERY                         */
/* ============================================= */
	/* TABLET */
	@media screen and (min-width:200px) and (max-width:1080px) {
		nav { display:none; }
		main { margin-left:0px; }

		/* p { font-size:2.0vw; } */

		.c-footer { padding-left:0px; }
		.contact-pCenter { 
			width:85%;
			left:0px; right:0px; top:0px; bottom:140px; 
		}
	}

	/* DESKTOP */
	@media screen and (min-width:1081px) {
		nav { display:block; }
		main { margin-left:240px; }

		.c-footer { padding-left:240px !important; }
		.contact-pCenter { 
			width:50%;
			left:240px; right:0px; top:0px; bottom:140px; 
		}
	}

	@media (orientation: landscape) {
		h1 { font-size:3.5vw; }
		h2 { font-size:3.2vw; }

		p { 
			line-height:2.8vw;
			font-size:2.5vw; 
		}

		a.iconLink-l { font-size:4.0vw; }
		.iconLink-l:hover { font-size:5.0vw; }
	}

	@media (orientation: portrait) {
		h1 { font-size:3.7vh; }
		h2 { font-size:3.4vh; }

		p { 
			line-height:3.0vh;
			font-size:2.0vh; 
		}

		a.iconLink-l { font-size:4.0vh; }
		.iconLink-l:hover { font-size:5.0vh; }
	}

	
	


/* ============================================= */
/*  THEME SETTINGS                               */
/* ============================================= */
:root {
	/* COLOR PALLET */
	--black     : rgba(0,     0,   0, 1.0);
	--white     : rgba(255, 255, 255, 1.0); /* #FFFFFF */
	--smoke     : rgba(204, 204, 204, 1.0); /* #CCCCCC */
	--LightRose : rgba(255, 204, 204, 1.0); /* #FFCCCC */
	--mintGreen : rgba(204, 255, 204, 1.0); /* #CCFFCC */
	--lavender  : rgba(204, 204, 255, 1.0); /* #CCCCFF */
	--banana    : rgba(255, 255, 204, 1.0); /* #FFFFCC */
	--pink      : rgba(255, 204, 255, 1.0); /* #FFCCFF */
	--cyan      : rgba(204, 255, 255, 1.0); /* #CCFFFF */
	--menthol   : rgba(0,   216, 135, 1.0);
	--yellow    : rgba(255, 255,   0, 1.0);
	--tint      : rgba( 40,  40,  40, 0.85);
	--cyanHot   : #8afbff;
	--smokeBlack: rgba(72, 77, 71, 1.0 );
	--mist      : rgba( 240, 240, 240, 1.0);

	--transition-glow-color : var(--yellow);
}

* {
	font-family:'Quicksand', sans-serif;
	font-weight:100;
}

nav, nav > *, main > * { box-sizing: border-box; }

a { 
	text-decoration: none;
	font-weight:bold;
	color:var(--menthol );
}

a.iconLink-s {
	font-size:1.2em;
	margin:5px;
}
.iconLink-s:hover { font-size:1.5em; }




p { margin-bottom:20px; }


h1, h2 { 
	/* font-size:2.5em; */
	font-weight:bold;
	margin-bottom:40px;
	color:var(--menthol );
}

h3 {
	font-size:2.0em;
	font-weight:bold;
	margin-bottom:10px;
}

#projectSection, #aboutMeSection {
	position:relative;
	padding:80px 0px 200px 0px;
}

#contactSection {
	height:100%;
}

/* ============================================== */
/*  IMAGE PROCESSING                              */
/* ============================================== */
img.gallery {
	width:100%;
	border-radius:10px;
	border:5px solid black;
}

img.iconSize {
	width:20px;
}



/* ============================================== */
/*  JAVASCRIPT NEEDED                             */
/* ============================================== */
.show { display:block !important; }
.hide { display:none; }
.active { color:var(--menthol); }



/* ============================================== */
/*  NAVIGATION                                    */
/* ============================================== */
nav {
	min-width:240px;
	max-width:240px;

	height:100%;

	position:fixed;
	top:0px; left:0px;
	z-index:1000;

	background-color:var(--smokeBlack);

	font-size:1.4em;
}

nav > * {
	min-height:70px;
	line-height:70px;

	color:rgba(200, 200, 200, 1.0);
	text-align:center;
}

li:hover {
	color:var(--menthol);
	cursor:pointer;
}


a.textLink:hover {
	border-bottom:5px solid var(--menthol);
}





/* ============================================== */
/*  LAYOUT                                        */
/* ============================================== */
.content-area {
	width:100%;
	margin:auto;
	padding:0px 0px;
}

.flex-justify {
	display:flex;
	flex-direction:row;
	justify-content: center;
}

.flex-justify > div {
	position:relative;

	width:75px;
	height:240px;
}

.pad-LR {
	padding:0px 60px;
}

/* ============================================== */
/*  FOOTER                                        */
/* ============================================== */
.mini-footer {
	position: absolute;
	left:0px; right:0px; bottom:0px;
	margin:auto;

	width:auto;

	background-color:var(--mist);
	color:rgba(0,0,0,0.3);
	text-align:center;
	
	padding-top:30px;
	padding-bottom:30px;
}


/* ============================================== */
/*  CONTACT PAGE                                  */
/* ============================================== */
.contact-msg { text-align:center; }

.contact-pCenter {
	position: absolute;
	margin:auto;
	
	/* width:50%; */
	height:270px;
}

/* ============================================== */
/*  EFFECTS                                       */
/* ============================================== */
.captionText {
	position:relative;
	width:100%;
}

.captionText > figcaption {
	width:100%;
	height:0px;
	line-height:40px;

	position:absolute;
	bottom:7px;

	background-color:rgba(0, 0, 0, 0.75);

	overflow-y:hidden;
	overflow:hidden;
	transition:height 0.4s ease;

	color:white;
	font-size:1.0em;
	text-align:left;
	padding-left:10px;

	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.captionText:hover > figcaption {
	height:40px;

	overflow:auto;
	overflow-y:hidden;
}

.blink {
	animation-name:blinking;
	animation-duration:1.5s;
	animation-iteration-count: infinite;
}

@keyframes blinking {
	0%   { opacity: 1.0; }
	50%  { opacity: 1.0; }
	51%  { opacity: 0.0; }
	100% { opacity: 0.0; }
}

.glow { 
	transition:
		text-shadow 0.5s ease, 
		color 0.5s ease; 
}

.glow:hover {
	text-shadow: 0px 0px 30px var(--transition-glow-color),
				 0px 0px 20px var(--transition-glow-color), 
				 0px 0px 10px var(--transition-glow-color), 
				 0px 0px 5px var(--transition-glow-color);

	color:white;	
}



/* ============================================== */
/*  SANDBOX                                       */
/* ============================================== */

